<html>

    <head>
        <title>Salman Ahmed</title>
    </head>

    <body>

        <h1>Welcome</h1>
        <h3>Salman Ahmed's life</h3>

        <h2>Story 1</h2>
        <ol>

            <li><em>I go to Macalester College!</em></li>

            <li>I'm a sensitive human</li>

            <ul>
                <li>Bon App&copy; rocks    (<%= link_to 'Home', root_path %>)</li>
            </ul>
            
        </ol>

        <h2>Story 2</h2>
        <p><strong>I go to the U!</strong></p>
        <br>
        
    </body>

</html>