<html>  
  <head>
      <title>Home Page --> Feedback Form</title>
  </head>
  
  <body>
  
      <h1>Bon App Review</h1>
      <%= link_to 'About', about_path %>
      <br>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dPI-mRFEIH0" frameborder="0" allowfullscreen></iframe>

      <h2>Details</h2>
      <hr>    

      <table>

          <tr>
              <th>Days</th>
              <th>Breakfast</th>
              <th>Lunch</th>
              <th>Dinner</th>
          </tr>

          <tr>
              <th>Monday</th>
              <td>Egg and Sausage</td>
              <td>Burger</td>
              <td>Pasta</td>
          </tr>

          <tr>
              <th>Tuesday</th>
              <td>Bagels with Cream Cheese</td>
              <td>Sandwhich</td>
              <td>Noodles</td>
          </tr>

          <tr>
              <th>Wednesday</th>
              <td>Fruits and Yoghurt</td>
              <td>Pizza</td>
              <td>Stir Fry</td>
          </tr>

          <tr>                                   
              <th>Thursday</th>
              <td>Baked Potatoes</td>
              <td>Chicken Breast</td>
              <td>Tacos</td>
          </tr>

          <tr>
              <th>Friday</th>
              <td>Waffles</td>
              <td>Fries</td>
              <td>Curry</td>
          </tr>

      </table>
      <hr>

      <h2>Feedback Section</h2>

      <form>

          <label for="name">Name</label>
          <input type="text" id="name">

          <label for="email">E-mail</label>
          <input type="email" id="email">

          <p>Rate Bon App:</p>

          <input type="radio" name="Rating" id="goodRating">
          <label for="goodRating">Good</label>
          <br>
          <input type="radio" name="Rating" id="badRating">
          <label for="badRating">Bad</label>
          <br>
          <input type="radio" name="Rating" id="uglyRating">
          <label for="uglyRating">Ugly</label>       
          <br><br>

          <label for="comments">Additional comments:-</label>
          <br>
          <textarea id="comments" cols="22" rows="5" placeholder="Your comment will be anonymous"></textarea>
          <br><br>

          <label>Percentage chance you will call Bon App</label>
          <br>
          <select>
              <option>0-25%</option>
              <option>25-50%</option>
              <option>50-75%</option>
              <option selected>75%+</option>
          </select>
          <br><br>

          <input type="checkbox" id="terms">
          <label for="terms">I understand Bon App can mess with me</label>
          <br>

          <input type="submit" value="Go Ahead, Submit It!">         
          <input type="reset" value="Naah, Restart!">

      </form>
      <br>
          
  </body>
  
</html>